In [1]:
import pandas as pd

# Assuming your CSV files are named 'individuals.csv' and 'spouse.csv'
file_path_individuals = '../spark/data/individuals.csv'
file_path_spouse = '../spark/data/spouse.csv'

In [2]:
# Read the CSV files into pandas DataFrames
df_ind = pd.read_csv(file_path_individuals)
df_spouse = pd.read_csv(file_path_spouse)

In [3]:
# Fill empty values in the 'has_alimony' column with FALSE
df_ind['has_alimony'].fillna(False, inplace=True)
df_spouse['has_alimony'].fillna(False, inplace=True)

# Create an empty 'spouse_id' column in the 'individuals' DataFrame
df_ind['spouse_id'] = ''

In [6]:
df_spouse.rename(columns={'ID': 'SID'}, inplace=True)


#pd.merge(df_ind[df_ind['has_spouse'] == 'TRUE'],df_spouse['ID'],left_on=['spouse_id'],right_on='ID')
# Convert 'ID' column in 'spouse' DataFrame to object type
df_spouse['SID'] = df_spouse['SID'].astype(str)

# Merge DataFrames based on the condition has_spouse=True
merged_df = pd.merge(df_ind[df_ind['has_spouse'] == 'TRUE'], df_spouse[['SID']], left_on='spouse_id', right_on='SID', how='left')

# Merge the new 'spouse_id' column back into the 'individuals' DataFrame
df_ind = pd.merge(df_ind, merged_df[['ID']], left_index=True, right_index=True, how='left')

# Fill -1 values in the 'spouse_id' column with empty strings
df_ind['spouse_id'].fillna('-1', inplace=True)

In [9]:
#

,ID_x,age,has_spouse,gross_salary,has_student_loan,student_loan_amount,has_general_loan,general_loan_amount,has_alimony,alimony_amount,spouse_id,SID,ID_y
0,1,37,True,191453,False,0,False,0,False,0.0,,NaN,NaN
1,2,56,True,82586,False,0,False,0,False,0.0,,NaN,NaN
2,3,66,False,151688,True,55815,True,8901,False,0.0,,NaN,NaN
3,4,56,True,107499,False,0,True,9727,False,0.0,,NaN,NaN
4,5,82,True,31355,True,30629,False,0,False,0.0,,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,76,True,30722,False,0,False,0,False,0.0,,NaN,NaN
996,997,43,False,87603,False,0,True,4087,False,0.0,,NaN,NaN
997,998,61,True,25123,True,44020,False,0,False,0.0,,NaN,NaN
998,999,75,True,101123,True,65327,True,1484,False,0.0,,NaN,NaN
999,1000,34,False,182128,True,10831,True,315,False,0.0,,NaN,NaN