## Create new bigquery table with the individual's mortage that they can afford

In [1]:
from pyspark.sql import SparkSession
from pyspark import SparkConf

sparkConf = SparkConf()
sparkConf.setMaster("spark://spark-master:7077")
sparkConf.setAppName("BigqueryExample")
sparkConf.set("spark.driver.memory", "2g")
sparkConf.set("spark.executor.cores", "1")
sparkConf.set("spark.driver.cores", "1")
# create the spark session, which is the entry point to Spark SQL engine.
spark = SparkSession.builder.config(conf=sparkConf).getOrCreate()
# Setup hadoop fs configuration for schema gs://
conf = spark.sparkContext._jsc.hadoopConfiguration()
conf.set("fs.gs.impl", "com.google.cloud.hadoop.fs.gcs.GoogleHadoopFileSystem")
conf.set("fs.AbstractFileSystem.gs.impl", "com.google.cloud.hadoop.fs.gcs.GoogleHadoopFS")

In [2]:
df_individuals = spark.read \
  .format("bigquery") \
  .load(" degroup11.group11dataset.individuals")    # project_id.datatset.tablename. Use your project id
df_individuals.printSchema()

root
 |-- ID: string (nullable = true)
 |-- age: string (nullable = true)
 |-- has_spouse: string (nullable = true)
 |-- spouse_ID: string (nullable = true)
 |-- gross_salary: string (nullable = true)
 |-- has_student_loan: string (nullable = true)
 |-- student_loan_amount: string (nullable = true)
 |-- has_general_loan: string (nullable = true)
 |-- general_loan_amount: string (nullable = true)
 |-- has_alimony: string (nullable = true)
 |-- alimony_amount: string (nullable = true)

## Table lookout

In [3]:
df_spouse = spark.read \
  .format("bigquery") \
  .load(" degroup11.group11dataset.spouse")   
df_spouse.printSchema()

root
 |-- spouse_ID: string (nullable = true)
 |-- age: string (nullable = true)
 |-- gross_salary: string (nullable = true)
 |-- has_student_loan: string (nullable = true)
 |-- student_loan_amount: string (nullable = true)
 |-- has_general_loan: string (nullable = true)
 |-- general_loan_amount: string (nullable = true)
 |-- has_alimony: string (nullable = true)
 |-- alimony_amount: string (nullable = true)

In [4]:
df_toetsinkomen = spark.read \
  .format("bigquery") \
  .load(" degroup11.group11dataset.toetsinkomen")   
df_toetsinkomen.show(100)

+------------+----------+
|Toetsinkomen|Toetsrente|
+------------+----------+
|           0|      17.5|
|       19500|      17.5|
|       20000|      18.5|
|       20050|      19.5|
|       21000|      20.5|
|       21500|      21.0|
|       22000|      22.0|
|       22500|      23.5|
|       23000|      24.5|
|       23500|      25.0|
|       24000|      25.5|
|       25000|      26.5|
|       26000|      27.0|
|       28000|      27.5|
|       55000|      28.0|
|       58000|      28.5|
|       61000|      29.0|
|       63000|      29.5|
|       65000|      30.0|
|       68000|      30.5|
|       70000|      31.0|
|       75000|      31.5|
|       77000|      32.5|
|       79000|      33.0|
|       85000|      33.5|
|       96000|      34.0|
|      110000|      34.5|
+------------+----------+

In [5]:
from pyspark.sql.functions import col, when


df_comb = df_individuals.alias("ind").join(df_spouse.alias("sp"), col("ind.ID") ==  col("sp.spouse_ID"),"inner")

## Create house spendable income and select important columns from dataframe

In [6]:
df = df_comb
# Convert necessary columns to appropriate data types (e.g., from string to integer/boolean)
df = df.withColumn("ind.gross_salary", col("ind.gross_salary").cast("int"))
df = df.withColumn("ind.alimony_amount", col("ind.alimony_amount").cast("int"))
df = df.withColumn("ind.has_spouse", col("ind.has_spouse") == "True")
df = df.withColumn("ind.student_loan_amount", col("ind.student_loan_amount").cast("int"))
df = df.withColumn("ind.general_loan_amount", col("ind.general_loan_amount").cast("int"))

df = df.withColumn("sp.gross_salary", col("sp.gross_salary").cast("int"))
df = df.withColumn("sp.alimony_amount", col("sp.alimony_amount").cast("int"))
df = df.withColumn("sp.student_loan_amount", col("sp.student_loan_amount").cast("int"))
df = df.withColumn("sp.general_loan_amount", col("sp.general_loan_amount").cast("int"))


df = df.withColumn("house_spendable_income", 
                   when(col("ind.has_spouse") == False, 
                        col("ind.gross_salary") - 12 * col("ind.alimony_amount"))
                   .otherwise(when(col("ind.gross_salary")>col("sp.gross_salary"),col("ind.gross_salary") - 12 * col("ind.alimony_amount")+ 1/3 * (col("sp.gross_salary")-12 * col("sp.alimony_amount")))\
                             .otherwise(col("sp.gross_salary") - 12 * col("sp.alimony_amount")+ 1/3 * (col("ind.gross_salary")-12 * col("ind.alimony_amount")))))



df = df.withColumn("house_spendable_income", col("house_spendable_income").cast("int"))
#df_comb.select("ind.student_loan_amount", "sp.student_loan_amount").show()
df.select("ind.ID", "ind.gross_salary","ind.alimony_amount","ind.has_spouse","ind.student_loan_amount", "ind.general_loan_amount", "sp.spouse_ID", "sp.gross_salary","sp.alimony_amount", "sp.student_loan_amount", "sp.general_loan_amount", "house_spendable_income").show()

+---+------------+--------------+----------+-------------------+-------------------+---------+------------+--------------+-------------------+-------------------+----------------------+
| ID|gross_salary|alimony_amount|has_spouse|student_loan_amount|general_loan_amount|spouse_ID|gross_salary|alimony_amount|student_loan_amount|general_loan_amount|house_spendable_income|
+---+------------+--------------+----------+-------------------+-------------------+---------+------------+--------------+-------------------+-------------------+----------------------+
|106|       75526|             0|      true|                  0|               9288|      106|       59122|             0|              58463|               1144|                 95233|
|153|      134600|          1200|     false|                  0|               5314|      153|      101412|             0|              69057|                  0|                120200|
|211|      144798|             0|      true|              26010|               1815|      211|      149733|             0|              51474|                  0|                197999|
|354|      150580|             0|      true|              52758|               8222|      354|       47582|             0|                  0|                  0|                 97775|
|363|      186763|             0|     false|                  0|               1552|      363|      181201|             0|              36635|               8217|                186763|
|469|       59116|             0|      true|                  0|               7749|      469|       38986|             0|                  0|               6146|                 72111|
|520|      189883|          3697|      true|              38459|               8634|      520|      143379|             0|                  0|               1788|                193312|
|539|      157499|             0|      true|              66932|               8292|      539|       65001|             0|                  0|               7422|                117500|
|594|      171667|          1858|      true|                  0|               6562|      594|      136836|             0|                  0|                  0|                194983|
|  9|      168304|             0|     false|                  0|               3907|        9|       60684|             0|              48767|                  0|                168304|
| 30|       75892|             0|      true|                  0|               7655|       30|       88871|             0|                  0|               1458|                114168|
|267|      160809|          2390|      true|              64538|               4375|      267|       80447|             0|                  0|                  0|                124490|
|306|       97033|             0|     false|                  0|               3250|      306|      109320|             0|                  0|                  0|                 97033|
|374|       94589|             0|      true|                  0|               3270|      374|      108912|             0|              61874|                  0|                130893|
|562|       49877|             0|     false|               9288|               5097|      562|       61783|             0|                  0|                  0|                 49877|
|638|      106209|             0|     false|                  0|                590|      638|       26954|             0|              46733|               6073|                106209|
|758|       77328|             0|      true|              63964|               4528|      758|      181158|             0|                131|                  0|                137714|
|828|      195138|             0|      true|                  0|               6545|      828|       50156|             0|              43915|               5525|                115202|
|836|       47206|             0|     false|                  0|               8839|      836|       43192|             0|              57248|                  0|                 47206|
|887|      102180|             0|     false|               8230|               1276|      887|      174920|             0|                  0|                  0|                102180|
+---+------------+--------------+----------+-------------------+-------------------+---------+------------+--------------+-------------------+-------------------+----------------------+
only showing top 20 rows

## Step 2 get for each row the corresponding toetsinkomen rente and add as column to df

In [7]:
from pyspark.sql.functions import col, udf
from pyspark.sql.types import StringType

def calculate_toetsrente(toetsinkomen_value):
    # Hard-coded Toetsinkomen values
    toetsinkomen_values = [0, 19500, 20000, 20050, 21000, 21500, 22000, 22500, 23000, 23500,
                            24000, 25000, 26000, 28000, 55000, 58000, 61000, 63000, 65000, 68000,
                            70000, 75000, 77000, 79000, 85000, 96000, 110000]
    
    # Find the closest Toetsinkomen value
    closest_toetsinkomen = min(toetsinkomen_values, key=lambda x: abs(x - toetsinkomen_value))
    
    # Corresponding Toetsrente values
    toetsrente_values = {0: 17.5, 19500: 17.5, 20000: 18.5, 20050: 19.5, 21000: 20.5,
                         21500: 21.0, 22000: 22.0, 22500: 23.5, 23000: 24.5, 23500: 25.0,
                         24000: 25.5, 25000: 26.5, 26000: 27.0, 28000: 27.5, 55000: 28.0,
                         58000: 28.5, 61000: 29.0, 63000: 29.5, 65000: 30.0, 68000: 30.5,
                         70000: 31.0, 75000: 31.5, 77000: 32.5, 79000: 33.0, 85000: 33.5,
                         96000: 34.0, 110000: 34.5}
    
    # Get the Toetsrente value for the closest Toetsinkomen
    toetsrente_value = toetsrente_values[closest_toetsinkomen]
    
    return toetsrente_value


interestCalcUDF = udf(lambda x:calculate_toetsrente(x),StringType())


df_income_w_interest = df.withColumn("toetsrente", interestCalcUDF(col("house_spendable_income")))
df_income_w_interest.select("ID", "ind.age", "house_spendable_income", "toetsrente").show()

+---+---+----------------------+----------+
| ID|age|house_spendable_income|toetsrente|
+---+---+----------------------+----------+
|106| 18|                 95233|      34.0|
|153| 18|                120200|      34.5|
|211| 18|                197999|      34.5|
|354| 18|                 97775|      34.0|
|363| 18|                186763|      34.5|
|469| 18|                 72111|      31.0|
|520| 18|                193312|      34.5|
|539| 18|                117500|      34.5|
|594| 18|                194983|      34.5|
|  9| 19|                168304|      34.5|
| 30| 19|                114168|      34.5|
|267| 19|                124490|      34.5|
|306| 19|                 97033|      34.0|
|374| 19|                130893|      34.5|
|562| 19|                 49877|      28.0|
|638| 19|                106209|      34.5|
|758| 19|                137714|      34.5|
|828| 19|                115202|      34.5|
|836| 19|                 47206|      28.0|
|887| 19|                102180|      34.0|
+---+---+----------------------+----------+
only showing top 20 rows

## Reducution in monthly payments due to loans and student loans

In [8]:
df_deduction_loan = df_income_w_interest.withColumn("deduction_loan_payment",
                                                    (col("ind.student_loan_amount")*0.0075 + col("ind.general_loan_amount") * 0.02)+ (col("sp.student_loan_amount")*0.0075 + col("sp.general_loan_amount") * 0.02))

In [9]:
df_monthly_spendable = df_deduction_loan.withColumn("max_to_spend_month", (col("house_spendable_income")*(1/100)*col("Toetsrente"))/12 - col("deduction_loan_payment"))
df_monthly_spendable.show(1)

+---+---+----------+---------+------------+----------------+-------------------+----------------+-------------------+-----------+--------------+---------+---+------------+----------------+-------------------+----------------+-------------------+-----------+--------------+----------------+------------------+--------------+-----------------------+-----------------------+---------------+-----------------+----------------------+----------------------+----------------------+----------+----------------------+------------------+
| ID|age|has_spouse|spouse_ID|gross_salary|has_student_loan|student_loan_amount|has_general_loan|general_loan_amount|has_alimony|alimony_amount|spouse_ID|age|gross_salary|has_student_loan|student_loan_amount|has_general_loan|general_loan_amount|has_alimony|alimony_amount|ind.gross_salary|ind.alimony_amount|ind.has_spouse|ind.student_loan_amount|ind.general_loan_amount|sp.gross_salary|sp.alimony_amount|sp.student_loan_amount|sp.general_loan_amount|house_spendable_income|toetsrente|deduction_loan_payment|max_to_spend_month|
+---+---+----------+---------+------------+----------------+-------------------+----------------+-------------------+-----------+--------------+---------+---+------------+----------------+-------------------+----------------+-------------------+-----------+--------------+----------------+------------------+--------------+-----------------------+-----------------------+---------------+-----------------+----------------------+----------------------+----------------------+----------+----------------------+------------------+
|106| 18|      true|      106|       75526|           false|                  0|            true|               9288|      false|             0|      106| 19|       59122|            true|              58463|            true|               1144|      false|             0|           75526|                 0|         false|                      0|                   9288|          59122|                0|                 58463|                  1144|                 95233|      34.0|              647.1125|2051.1558333333332|
+---+---+----------+---------+------------+----------------+-------------------+----------------+-------------------+-----------+--------------+---------+---+------------+----------------+-------------------+----------------+-------------------+-----------+--------------+----------------+------------------+--------------+-----------------------+-----------------------+---------------+-----------------+----------------------+----------------------+----------------------+----------+----------------------+------------------+
only showing top 1 row

In [10]:
df_monthly_spendable.select("ind.ID", "sp.spouse_ID", "max_to_spend_month").show()

+---+---------+------------------+
| ID|spouse_ID|max_to_spend_month|
+---+---------+------------------+
|106|      106|2051.1558333333332|
|153|      153|         2831.5425|
|211|      211| 5075.041249999999|
|354|      354|2210.1666666666665|
|363|      363|        4899.29375|
|469|      469|1584.9675000000002|
|520|      520| 5060.837500000001|
|539|      539|          2561.855|
|594|      594|        5474.52125|
|  9|        9|         4394.8475|
| 30|       30|3100.0699999999997|
|267|      267|3007.5525000000002|
|306|      306|2684.2683333333334|
|374|      374|        3233.71875|
|562|      562| 992.1966666666668|
|638|      638|2569.7512499999993|
|758|      758|          3388.005|
|828|      828|          2741.295|
|836|      836|495.33333333333337|
|887|      887|2807.8550000000005|
+---+---------+------------------+
only showing top 20 rows

# allowed mortgage

In [11]:
from pyspark.sql.functions import col, udf
from pyspark.sql.types import StringType


def mor_calc(interest, payment, months):
    return int(payment * (1-((1+interest)**-months))/interest)


interest = 0.0037
months = 12 * 30


morCalcUDF = udf(lambda x:mor_calc(interest, x, months),StringType())


df2 = df_monthly_spendable.withColumn("possible_mortgage_amount", morCalcUDF(col("max_to_spend_month")))
df_mortage_to_write = df2.select("ID", "sp.spouse_ID", "max_to_spend_month", "possible_mortgage_amount")
df_mortage_to_write = df_mortage_to_write.withColumn("max_to_spend_month", col("max_to_spend_month").cast("int")) 
df_mortage_to_write.show()

+---+---------+------------------+------------------------+
| ID|spouse_ID|max_to_spend_month|possible_mortgage_amount|
+---+---------+------------------+------------------------+
|106|      106|              2051|                  407681|
|153|      153|              2831|                  562789|
|211|      211|              5075|                 1008700|
|354|      354|              2210|                  439286|
|363|      363|              4899|                  973769|
|469|      469|              1584|                  315023|
|520|      520|              5060|                 1005877|
|539|      539|              2561|                  509187|
|594|      594|              5474|                 1088100|
|  9|        9|              4394|                  873507|
| 30|       30|              3100|                  616161|
|267|      267|              3007|                  597772|
|306|      306|              2684|                  533517|
|374|      374|              3233|                  642724|
|562|      562|               992|                  197206|
|638|      638|              2569|                  510756|
|758|      758|              3388|                  673390|
|828|      828|              2741|                  544852|
|836|      836|               495|                   98451|
|887|      887|              2807|                  558081|
+---+---------+------------------+------------------------+
only showing top 20 rows

# send the ID, spouse_ID, possible_mortage_amount

In [12]:
from google.cloud import bigquery

# Initialize the BigQuery client
client = bigquery.Client(project="degroup11")  

# Define the table schema
schema = [
    bigquery.SchemaField("ID", "INTEGER"),
    bigquery.SchemaField("spouse_ID", "INTEGER"),
    bigquery.SchemaField("max_to_spend_month", "INTEGER"),
    bigquery.SchemaField("possible_mortgage_amount", "INTEGER"),

]

# Specify the BigQuery dataset and table
dataset_id = "group11dataset"  
table_id = "mortage_amount_batch"   

# Create the BigQuery table
table_ref = client.dataset(dataset_id).table(table_id)
table = bigquery.Table(table_ref, schema=schema)

# Create the table if it doesn't exist
client.create_table(table, exists_ok=True)

Table(TableReference(DatasetReference('degroup11', 'group11dataset'), 'mortage_amount_batch'))

In [ ]:
df_mortage_to_write.write.format("bigquery").\
option('table', "degroup11.group11dataset.mortage_amount_batch").\
option("temporaryGcsBucket", "temp_degroup11"). \
mode("overwrite").save()

In [ ]:
spark.stop()