## This notebook outputs a bigquery table with all the possible houses a random individual can afford. The random individual is randomly chosen. The randomly chosen individual is also created in a bigquery table as a cookie so that it can be identified

In [9]:
from pyspark.sql import SparkSession
from pyspark import SparkConf
import sys
!{sys.executable} -m pip install -q google-cloud-bigquery
from google.cloud import bigquery

sparkConf = SparkConf()
sparkConf.setMaster("spark://spark-master:7077")
sparkConf.setAppName("BigqueryExample")
sparkConf.set("spark.driver.memory", "2g")
sparkConf.set("spark.executor.cores", "1")
sparkConf.set("spark.driver.cores", "1")
# create the spark session, which is the entry point to Spark SQL engine.
spark = SparkSession.builder.config(conf=sparkConf).getOrCreate()
# Setup hadoop fs configuration for schema gs://
conf = spark.sparkContext._jsc.hadoopConfiguration()
conf.set("fs.gs.impl", "com.google.cloud.hadoop.fs.gcs.GoogleHadoopFileSystem")
conf.set("fs.AbstractFileSystem.gs.impl", "com.google.cloud.hadoop.fs.gcs.GoogleHadoopFS")

# Load tables

In [10]:
from pyspark.sql.functions import col
df_mortgage = spark.read \
  .format("bigquery") \
  .load(" degroup11.group11dataset.mortgage_amount_batch")    # project_id.datatset.tablename. Use your project id
df_mortgage = df_mortgage.withColumn("possible_mortgage_amount", col("possible_mortgage_amount").cast("int"))

df_mortgage.printSchema()
df_mortgage.show()

root
 |-- ID: long (nullable = true)
 |-- spouse_ID: long (nullable = true)
 |-- max_to_spend_month: long (nullable = true)
 |-- possible_mortgage_amount: integer (nullable = true)

+---+---------+------------------+------------------------+
| ID|spouse_ID|max_to_spend_month|possible_mortgage_amount|
+---+---------+------------------+------------------------+
|734|      734|              1280|                  254494|
|330|      330|              3840|                  763401|
|321|      321|              1025|                  203744|
|459|      459|              3841|                  763613|
|972|      972|              -255|                  -50718|
|128|      128|              3586|                  712909|
| 14|       14|              4098|                  814678|
|758|      758|              5378|                 1068931|
|168|      168|               515|                  102510|
|322|      322|               515|                  102440|
|106|      106|              2051|                  407681|
|377|      377|              4099|                  814830|
|691|      691|              4611|                  916529|
|531|      531|              6915|                 1374521|
|232|      232|              1029|                  204634|
|714|      714|              2565|                  509908|
|174|      174|              5381|                 1069704|
|831|      831|              1542|                  306502|
|726|      726|              4614|                  917086|
| 84|       84|               263|                   52300|
+---+---------+------------------+------------------------+
only showing top 20 rows

In [11]:
df_housing = spark.read \
  .format("bigquery") \
  .load(" degroup11.group11dataset.house_pricing")    # project_id.datatset.tablename. Use your project id
df_housing = df_housing.withColumn("Price", col("Price").cast("int"))
df_housing.printSchema()

root
 |-- Address: string (nullable = true)
 |-- City: string (nullable = true)
 |-- Price: integer (nullable = true)
 |-- Lot_size: string (nullable = true)
 |-- Living_space_size: string (nullable = true)
 |-- Build_year: string (nullable = true)
 |-- Build_type: string (nullable = true)
 |-- House_type: string (nullable = true)
 |-- Roof: string (nullable = true)
 |-- Rooms: string (nullable = true)
 |-- Toilet: string (nullable = true)
 |-- Floors: string (nullable = true)
 |-- Energy_label: string (nullable = true)
 |-- Position: string (nullable = true)
 |-- Garden: string (nullable = true)
 |-- Estimated_neighbourhood_price_per: double (nullable = true)
 |-- Availability: boolean (nullable = true)
 |-- event_time: timestamp (nullable = true)

## Take a random person from the dataset

In [12]:
from pyspark.sql.functions import col, udf, window
from random import randint

def select_person_id():
    chosen_ID = randint(1, df_mortgage.count())
    return chosen_ID

selected_df = df_mortgage.filter( col("ID") == select_person_id())
selected_df.show()

+---+---------+------------------+------------------------+
| ID|spouse_ID|max_to_spend_month|possible_mortgage_amount|
+---+---------+------------------+------------------------+
|149|      149|              5340|                 1061500|
+---+---------+------------------+------------------------+

In [13]:
df_housing.select("Availability").show()

+------------+
|Availability|
+------------+
|       false|
|        true|
|       false|
|        true|
|        true|
|        true|
|        true|
|       false|
|        true|
|       false|
|       false|
|        true|
|        true|
|       false|
|        true|
|       false|
|        true|
|       false|
|       false|
|       false|
+------------+
only showing top 20 rows

In [14]:
available_houses_chosen_individual = df_housing.filter(col("Price") < selected_df.first()\
                                                       .asDict()["possible_mortgage_amount"])\
                                                        .filter(col("Availability") == True)
available_houses_chosen_individual.show()

+--------------------+--------------------+-------+--------+-----------------+----------+--------------+--------------------+--------------------+--------------------+--------------------+--------------------+------------+--------------------+--------------------+---------------------------------+------------+--------------------+
|             Address|                City|  Price|Lot_size|Living_space_size|Build_year|    Build_type|          House_type|                Roof|               Rooms|              Toilet|              Floors|Energy_label|            Position|              Garden|Estimated_neighbourhood_price_per|Availability|          event_time|
+--------------------+--------------------+-------+--------+-----------------+----------+--------------+--------------------+--------------------+--------------------+--------------------+--------------------+------------+--------------------+--------------------+---------------------------------+------------+--------------------+
|         Vikinghof 1|           Hoofddorp| 745000|  331 m²|           148 m²|      1975|Bestaande bouw|   Villa, hoekwoning|    Samengesteld dak|4 kamers (3 slaap...|1 badkamer en 1 a...|2 woonlagen en ee...|           B|Aan rustige weg, ...|Achtertuin, voort...|                            3.375|        true|2023-12-05 00:58:...|
|   Copernicuslaan 14|           Hoogeveen| 399500|  508 m²|           137 m²|      1971|Bestaande bouw|Bungalow, hoekwoning|Plat dak bedekt m...|6 kamers (5 slaap...|1 badkamer en 1 a...|          1 woonlaag|           C|Aan rustige weg e...|Achtertuin en voo...|                5.059999942779541|        true|2023-12-04 19:24:...|
|Prins Constantijn...|        Badhoevedorp| 945000|  624 m²|           167 m²|      1976|Bestaande bouw|Bungalow, hoekwoning|Plat dak bedekt m...|5 kamers (3 slaap...|1 badkamer en 1 a...|         2 woonlagen|           C|Aan rustige weg, ...|         Tuin rondom|               1.6299999952316284|        true|2023-12-04 23:31:...|
| Theo Hendriksehof 2|           Beverwijk| 500000|  166 m²|           103 m²|      1978|Bestaande bouw|Bungalow, hoekwoning|Plat dak bedekt m...|4 kamers (3 slaap...|1 badkamer en 1 a...|         2 woonlagen|           D|     Aan rustige weg|        Patio/atrium|                2.265000104904175|        true|2023-12-05 00:34:...|
|     Het Kasteel 216|           Apeldoorn| 349500|  196 m²|           119 m²|      1995|Bestaande bouw|Bungalow, hoekwoning|Plat dak bedekt m...|5 kamers (3 slaap...|2 badkamers en 1 ...|         2 woonlagen|           A|Aan rustige weg, ...|Achtertuin en voo...|                 6.09499979019165|        true|2023-12-04 20:52:...|
|         Nijvelaar 7|          Den Dungen| 550000|  535 m²|           140 m²|      NULL|Bestaande bouw|Landhuis, eindwoning|Zadeldak bedekt m...|5 kamers (3 slaap...|1 badkamer en 1 a...|         2 woonlagen|           C|Aan rustige weg, ...|Achtertuin en zij...|                             NULL|        true|2023-12-04 22:55:...|
|        Papenpad 4 c|             Zaandam| 500000|  113 m²|           131 m²|      1925|Bestaande bouw|Herenhuis, eindwo...|Samengesteld dak ...|4 kamers (2 slaap...|1 badkamer en 1 a...|         3 woonlagen|           D|Aan rustige weg, ...|          Achtertuin|                4.260000228881836|        true|2023-12-04 23:14:...|
|          Krulmos 18|Nieuwerkerk aan d...| 390000|  124 m²|           131 m²|      1977|Bestaande bouw|Herenhuis, eindwo...|Plat dak bedekt m...|5 kamers (4 slaap...|          1 badkamer|3 woonlagen en ee...|           C|Aan park, aan rus...|Achtertuin en voo...|               2.2300000190734863|        true|2023-12-04 22:00:...|
|Simon Vestdijkstr...|            Den Haag| 799500|  234 m²|           239 m²|      2004|Bestaande bouw|Herenhuis, eindwo...|Lessenaardak bede...|8 kamers (7 slaap...|2 badkamers en 2 ...|         3 woonlagen|           A|Aan rustige weg, ...|Achtertuin en voo...|               2.1700000762939453|        true|2023-12-05 00:09:...|
|          Fnidsen 31|             Alkmaar| 595000|   88 m²|           116 m²|      1625|Bestaande bouw|Herenhuis, hoekwo...|Zadeldak bedekt m...|4 kamers (2 slaap...|1 badkamer en 1 a...|         2 woonlagen|           F|     Aan rustige weg|Achtertuin, patio...|                3.174999952316284|        true|2023-12-04 20:16:...|
|          Westwal 91|                Goes| 415000|  137 m²|           126 m²|      1899|Bestaande bouw|Herenhuis, hoekwo...|Zadeldak bedekt m...|4 kamers (3 slaap...|1 badkamer en 1 a...|2 woonlagen, een ...|           F|Aan park en in ce...|          Achtertuin|                2.134999990463257|        true|2023-12-05 01:21:...|
|Prins Hendrikkade 12|             Woerden| 425000|   80 m²|            80 m²|      1910|Bestaande bouw|Herenhuis, hoekwo...|Zadeldak bedekt m...|4 kamers (3 slaap...|1 badkamer en 1 a...|         2 woonlagen|           C|Aan vaarwater, aa...|          Achtertuin|                2.640000104904175|        true|2023-12-04 23:32:...|
|      Leenderweg 280|           Eindhoven| 595000|  230 m²|           167 m²|      1929|Bestaande bouw|Herenhuis, hoekwo...|Schilddak bedekt ...|6 kamers (5 slaap...|2 badkamers en 1 ...|         3 woonlagen|           C|In woonwijk en vr...|Achtertuin en voo...|               1.8200000524520874|        true|2023-12-04 22:12:...|
|     Meloenstraat 68|            Den Haag| 895000|  121 m²|           147 m²|      1930|Bestaande bouw|Herenhuis, hoekwo...|    Samengesteld dak|6 kamers (4 slaap...|2 badkamers en 2 ...|         3 woonlagen|           F|Aan rustige weg e...|Achtertuin en voo...|                             7.25|        true|2023-12-04 22:35:...|
|       Sportlaan 207|            Den Haag|1050000|  318 m²|           169 m²|      1930|Bestaande bouw|Herenhuis, hoekwo...|Zadeldak bedekt m...|7 kamers (5 slaap...|2 badkamers en 1 ...|         4 woonlagen|           F|         In woonwijk|Achtertuin, voort...|                5.329999923706055|        true|2023-12-05 00:18:...|
| Koninginnestraat 24|          IJzendijke| 675000|  622 m²|           626 m²|      1950|Bestaande bouw|Herenhuis, hoekwo...|Schilddak bedekt ...|11 kamers (9 slaa...|7 badkamers en 1 ...|2 woonlagen en ee...|           A|Aan rustige weg e...|          Achtertuin|                1.809999942779541|        true|2023-12-04 21:50:...|
|          Parkweg 34|            Maarssen| 695000|  237 m²|           200 m²|      1954|Bestaande bouw|Herenhuis, hoekwo...|Zadeldak bedekt m...|8 kamers (6 slaap...|2 badkamers en 1 ...|         4 woonlagen|           E|          In centrum|Achtertuin, voort...|                            960.0|        true|2023-12-04 23:16:...|
| Frits Diepenlaan 14|            Den Haag| 625000|  263 m²|           154 m²|      1998|Bestaande bouw|Herenhuis, hoekwo...|Zadeldak bedekt m...|5 kamers (4 slaap...|1 badkamer en 1 a...|3 woonlagen en ee...|           B|         In woonwijk|Achtertuin en voo...|                5.539999961853027|        true|2023-12-04 20:18:...|
|   Mondriaanstraat 1|       Bergschenhoek| 600000|  201 m²|           151 m²|      1998|Bestaande bouw|Herenhuis, hoekwo...|Plat dak bedekt m...|7 kamers (6 slaap...|         2 badkamers|         3 woonlagen|           B|Aan rustige weg e...|Achtertuin, voort...|                 4.15500020980835|        true|2023-12-04 22:46:...|
|     Minervasingel 9|              Almere| 475000|  136 m²|           131 m²|      2013|Bestaande bouw|Herenhuis, hoekwo...|Plat dak bedekt m...|4 kamers (3 slaap...|1 badkamer en 1 a...|         3 woonlagen|          A+|Aan rustige weg, ...|          Achtertuin|                7.269999980926514|        true|2023-12-04 22:40:...|
+--------------------+--------------------+-------+--------+-----------------+----------+--------------+--------------------+--------------------+--------------------+--------------------+--------------------+------------+--------------------+--------------------+---------------------------------+------------+--------------------+
only showing top 20 rows

## Take all the houses that that have a lower price than the possible mortage amount and are available

In [15]:
available_houses_chosen_individual = df_housing.filter(col("Price") < selected_df.first()\
                                                       .asDict()["possible_mortgage_amount"])\
                                                        .filter(col("Availability") == True)

available_houses = available_houses_chosen_individual.select('Address','City','Price','Availability',"event_time").orderBy(col("Price").desc())
available_houses.show(10)

+--------------------+-----------+-------+------------+--------------------+
|             Address|       City|  Price|Availability|          event_time|
+--------------------+-----------+-------+------------+--------------------+
|  Harderwijkerweg 57|     Ermelo|1050000|        true|2023-12-04 20:39:...|
|      Wildrijklaan 8| Sassenheim|1050000|        true|2023-12-05 01:25:...|
|        Stroomrug 19|      Cuijk|1050000|        true|2023-12-05 00:29:...|
|      Reigerslaan 40|   Voorhout|1050000|        true|2023-12-04 23:41:...|
|         Kruisweg 33|Bergen (NH)|1050000|        true|2023-12-04 21:59:...|
|       Sportlaan 207|   Den Haag|1050000|        true|2023-12-05 00:18:...|
|   Maaskade 89 A + B|  Rotterdam|1050000|        true|2023-12-04 22:24:...|
|Engelsbergenstraa...|  Eindhoven|1050000|        true|2023-12-04 20:09:...|
|   Stationsstraat 23|  Elst (GE)|1050000|        true|2023-12-05 00:22:...|
|      Platte knoop 8|     Almere|1050000|        true|2023-12-04 23:26:...|
+--------------------+-----------+-------+------------+--------------------+
only showing top 10 rows

In [16]:
selected_houses = spark.createDataFrame(available_houses.take(500))
selected_houses.count()
selected_houses.distinct().count()

500

## Create the selected houses notebook

In [17]:
# Initialize the BigQuery client
client = bigquery.Client(project="degroup11")  

# Define the table schema
schema = [
    bigquery.SchemaField("Address", "STRING"),
    bigquery.SchemaField("City", "STRING"),
    bigquery.SchemaField("Price", "STRING"),
    bigquery.SchemaField("Availability", "BOOLEAN"),
    bigquery.SchemaField("event_time", "TIMESTAMP"),

]

# Specify the BigQuery dataset and table
dataset_id = "group11dataset"  
table_id = "available_houses_for_individual"   

# Create the BigQuery table
table_ref = client.dataset(dataset_id).table(table_id)
table = bigquery.Table(table_ref, schema=schema)

# Create the table if it doesn't exist
client.create_table(table, exists_ok=True)

Table(TableReference(DatasetReference('degroup11', 'group11dataset'), 'available_houses_for_individual'))

## write Dataframe houses available for individual to bigquery

In [18]:
selected_houses.write.format("bigquery").\
option('table', "degroup11.group11dataset.available_houses_for_individual").\
option("temporaryGcsBucket", "temp_degroup11"). \
mode("overwrite").save()

## Create the identifying table

In [19]:
# Initialize the BigQuery client
client = bigquery.Client(project="degroup11")  

# Define the table schema
schema = [
    bigquery.SchemaField("ID", "STRING"),
    bigquery.SchemaField("spouse_ID", "STRING"),
    bigquery.SchemaField("max_to_spend_month", "INTEGER"),
    bigquery.SchemaField("possible_mortgage_amount", "INTEGER"),

]

# Specify the BigQuery dataset and table
dataset_id = "group11dataset"  
table_id = "cookie_ID_houses"   

# Create the BigQuery table
table_ref = client.dataset(dataset_id).table(table_id)
table = bigquery.Table(table_ref, schema=schema)

# Create the table if it doesn't exist
client.create_table(table, exists_ok=True)

Table(TableReference(DatasetReference('degroup11', 'group11dataset'), 'cookie_ID_houses'))

## Write dataframe cookie to bigquery

In [20]:
selected_df.write.format("bigquery").\
option('table', "degroup11.group11dataset.cookie_ID_houses").\
option("temporaryGcsBucket", "temp_degroup11"). \
mode("overwrite").save()

In [21]:
spark.stop()